name: Co-op-Bank Digital Banking Loan Calulator Workflow.

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'

      - name: Set up Bundler
        run: gem install bundler

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0.1'


      - name: Run tests
        run: xcodebuild test -project Calculator.xcodeproj -scheme Calculator -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 16" CODE_SIGNING_ALLOWED=NO